doctype html
html
  head
    title Contact List
    // Use the light theme of Water.css
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css")
  body
    // A simple top-right link for Sign in / Logout
    nav(style="margin: 1rem; text-align: right;")
      if user
        a(href="/logout") Logout
      else
        a(href="/login") Sign in
    
    // Where child templates insert their content
    block content
